@charset "ISO-8859-1";
#root{ 
  background-color: #bccfdf;
  padding: 11px 45px 3px 12px;
  width: 30%;
  margin-left: 30%;
}
.close{
  padding:10px 10px 10px 10px;
  margin-left: 10px;
}
.close:hover {
  background-color: #f44336;
    
}

.tasks{
  display: contents;
}
#list_of_things_to_do{
 list-style: none;
 display: contents;
}
.listitem{
  padding: 10px 10px 10px 5px;
  
}
.button{
  padding: 0px;
  margin-left: 10px;
}.button:hover {
  background-color: transparent;
  
}