<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>To Do List</title>
 <script src="/custom.js"></script>
   <link rel="stylesheet" href="./custom.css">
</head>
<body>
<body>
    <div id="root">
      <h1> To Do List</h1>
  
        <form id="inputdiv" onsubmit="return false">
            <input type="text" id="myinput" placeholder="add something to do">
            <button onclick="newelement()"> Add </button>
          
          </form>
          
          <ul id = "list_of_things_to_do">
             
          </ul>
    </div>

</body>

</body>
</html>